doctype html
html(lang="en")
  head
    title Pulsing Button
    link(rel="stylesheet", href="../main.css")
    link(rel="stylesheet", href="pulsing-button.css")
  body
    .container
      .btn
        a(href="/") Pulsing Button
        .bg
