body {
  margin: 0;
}

header {
  background: #333;
  color: #fff;
  padding: 20px;
  position: relative;
  padding-left: 10%;
}

a {
  color: #fff;
  text-decoration: none;
}

/* Nav Bar */
.title {
  margin-left: 40px;
  font-size: 1rem;
}

.nav-toggle {
  position: absolute;
  top: 30px;
  cursor: pointer;
}

nav li {
  list-style-type: none;
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  background: #222;
  text-align: center;
  transform: translateX(-100%);
  transition: transform .6s ease;
}

.main-nav.open {
  transform: translateX(0);
}

.main-nav ul {
  margin: 15%;
  padding: 0;
}

.main-nav ul a {
  padding: 10px 20px;
  display: block;
}

.main-nav ul a:hover {
  background: #333;
}

.main-nav .nav-toggle {
  right: 5%;
  top: 3%;
}

@media (max-width: 800px) {
  .main-nav {
    width: 33%;
  }
}


@media (max-width: 600px) {
  .main-nav {
    width: 50%;
  }
}
