doctype html
html(lang="en")
  head
    title Blur Login
    link(rel="stylesheet", href="../main.css")
    link(rel="stylesheet", href="login.css")
  body
    .wrapper
      .login-container
        .login
          h1 Login
          form
            input(type="text", placeholder="Email")
            input(type="password", placeholder="Password")
            button Login
            
                
          p Sign up

// Photo Credit https://www.flickr.com/photos/triplea4/15228944302/in/photolist-pcJjzd-zas8d-oLdce6-4mn5Cj-oLcHHY-cXrcqd-p4u8Ni-oMfG5f-D6J5c-o6Yx4N-8vCKEk-dXaG2y-2orKcY-9194uM-4JZzDt-97RU9W-ijHnZk-7wxCCx-cXcNTN-8YD82x-64Xzjr-64Tu2m-7QAjhR-76dAy8-caZE3J-88V839-o4ij4w-a1BCuH-pcJooL-oVfYoZ-dyqvdS-73FYjH-9pKeVZ-5ZBWZ1-bgpuS4-7QcSWe-4fweu-3HVwQ4-iACZX-58rwjv-p3r1a4-6RVZNp-6RVZwz-4wu5rp-6RC2Pm-6KBNJ3-oLdcpr-adw7i-8ZZiJq-noT6Zv
