doctype html
html(lang="en")
  head
    title=CardFlip
    link(rel="stylesheet", href="card-flip.css")
  body
    .card-container    
      .card
        .front
          h1 Hello
        .back
          h1 Goodbye
    .second
      .front-side
      .back-side
      
      //#[a(href="https://www.iconfinder.com/iconsets/social-media-2070") Icons]
