doctype html
html(lang="en")
  head
    title SVG Animation
    link(rel="stylesheet", href="../main.css")
    link(rel="stylesheet", href="svg-animation.css")
  body
    .container
      .basic Hover
        svg(width="140", height="60", xmlns="http://www.w3.org/2000/svg")
          rect(width='140', height='60')
          
