doctype html
html(lang="en")
  head
    title=TextAnimation
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Bevan")
    link(rel="stylesheet", href="text-animation.css")
  body
    div.text
      span A
      span N
      span I
      span M
      span A
      span T
      span E
