doctype html
html(lang="en")
  head
    title Some CSS Examples
    link(rel="stylesheet", href="main.css")
  body
    h1.site-title It Works?
    ul 
      li.
         #[a(href="text-animation/text-animation.html") Text-Animation]
      li.
        #[a(href="card-flip/card-flip.html") Card Flip]
      li.
        #[a(href="slide-over/slide-over.html") Slide Over]
      //li.
      //  #[a(href="push-over/push-over.html") Push Over] 
      li.
        #[a(href="pulsing-button/pulsing-button.html") Pulsing Button]
      li.
        #[a(href="sliding-door/sliding-door.html") Sliding Door]
      li.
        #[a(href="svg-animation/svg-animation.html") SVG Animation]
      li.
        #[a(href="login/login.html") Login]   
